body {
  height: 100vh;
  color: #343a40;
}
header {
  background-image: url(images/header_coffee.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first_header {
  color: #ffffff;
  text-align: center;
  font-size: 110px;
}
.social-nav a {
  color: #ffffff;
  margin: 5px;
  font-size: 20px;
}
.site-heading {
  padding: 300px 0 150px;
  color: white;
}
.social-footer-nav a {
  margin: 5px;
  font-size: 30px;
}
.img-about {
  background-image: url(images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-cafe {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-text {
  padding: 100px 50px 100px 50px;
}
.border-box {
  box-sizing: border-box;
  padding: 0 40px 0 40px;
}
.wrapper {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: -20px;
}
.cafe-text-right {
  align-self: center;
  padding: 20px;
  margin: 0 0 0 -30px;
  z-index: 1;
}
.cafe-text-left {
  align-self: center;
  padding: 20px;
  margin: 0 -30px 0 0px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cafe-text-left {
    align-self: center;
    padding: 20px;
    margin: 0 0 0 0;
    z-index: 1;
  }
  .cafe-text-right {
    align-self: center;
    padding: 20px;
    margin: 0 0 30px 0;
    z-index: 1;
  }
}
ul {
  list-style-type: none;
}
